<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="home.component.css">
  <title>Digital Banking</title>
</head>
<body>
<div class="menu-wrap">
  <input type="checkbox" class="toggler">
  <div class="bank"><div></div></div>
  <div class="menu">
    <div>
      <div>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/about">About</a></li>
          <li><a >Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<header class="showcase">
  <div class="container showcase-inner">
    <img alt="bank" src="https://media.istockphoto.com/id/1031507604/vector/bank-modern-thin-line-design-style-vector-illustration.jpg?s=612x612&w=0&k=20&c=vvptoH2ajRiQyATpZlEIjD6l6_C8Ym1WWesJ3opDoSY="/>
    <h1>Welcome to Digital Banking</h1>
    <p>Digital banking offers a modern and convenient way to manage your finances, with easy access to your accounts and transactions from anywhere, at any time.</p>
  </div>
</header>
</body>
</html>
